.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.season-display.winter i {
    color: deepskyblue;
}

.winter {
    background-color: aliceblue;
    color: darkblue;
}

.upper-left.summer i{
    position: absolute;
    top: 30px;
    left: 30px;
}

.botton-left{
    position: absolute;
    top: 30px;
    left: 30px;
}